<div class="row mt-3">
  <div class="card mb-4 shadow-sm d-flex flex-row">
    <div class="col-md-4">
      <img class="card-img-top img-fluid rounded-circle" src="{{user.image}}" alt="Card image cap" width="50px"
        height="50px" style="transition: opacity 0.5s; opacity:0;" onload="this.style.opacity=1;">
    </div>
    <div class="card-body col-md-8">
      <h4 class="card-text fw-bold">{{user.name}}</h4>
      <p class="card-text">{{user.email}}</p>
      <a class="btn btn-primary" href="/users/{{user.id}}/edit">edit</a>
    </div>
  </div>
</div>